.cover__link {
    width: 100%;
    max-width: 1184px;
    min-height: min(740px, calc(100vw * 5 / 8));
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
}

.cover__link::before {
    display: block;
    content: '';
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    transition: 0.3s ease;
}

.cover__link:hover::before {
    opacity: .8;
}