.page {
    /*min-width: 1280px;*/
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #2A2C2F;
    overflow-x: hidden;
    overflow-y: auto;
    /*display: flex;
    flex-direction: column;
    align-items: center; */
  }
  