.intro {
    margin: 0 auto;
    max-width: 984px;
    margin-top: 92px;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
    .intro {
        max-width: 90.625%;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75%;
        margin-top: 88px;
    }
}
@media screen and (max-width: 500px) {
    .intro {
        max-width: 90%;
        margin-top: 64px;
    }
}