.footer {
    position: relative;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(5, max-content) 1fr;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 93.75%;
    } 
}
@media screen and (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin-left: 16px;
    } 
}