.footer {
    margin: 0 auto  24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}
/*
@media screen and (max-width: 1279px) {
    .footer {
        max-width: 93.75%;
    } 
}
*/
@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc(100% - 2*48px);
    } 
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 2*24px);
    } 
}
@media screen and (max-width: 767px) {
    .footer {
        width: 100%;
        flex-direction: column;
        margin-left: 16px;
    } 
}